<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static web demo</title>
</head>
<body>
  <Row class="container">
    <Col class="left">
      <label>Ruby on Rails Tutorial</label>
      <ul>
        <li>Ruby on Rails - Home</li>
        <li>Ruby on Rails - Introduction</li>
        <li>Ruby on Rails - Installation</li>
      </ul>
    </Col>
    <Col class="main">
      <header><h1>Ruby on Rails - Database Setup</h1></header>
    </Col>
    <Col class="footer">
      <ul>
        <li>About us</li>
        <li>Terms of use</li>
        <li>Privacy Policy</li>
        <li>FAQ's</li>
        <li>Teach with Us</li>
        <li>Contact</li>
      </ul>
    </Col>
  </Row>
</body>
</html>
